* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.header {

    width: 100%;
    text-align: center;

}

.nav-menu {
    text-align: center;
    margin: auto;
    height: 88px;

}

.nav-menu_list {
    display: inline-block;
}

.header_link {
    display: inline-block;
    padding-right: 72px;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;

}

.header_link2 {
    display: inline-block;
    padding: 32px 0px;
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.main_img {

    background: #00BDC9;

}

.img {
    display: block;
    padding: 92px 400px 92px 401px;
    width: 599px;
    height: 368px;
    margin: auto;
    background-color: #00BDC9;


}



.main_text {
    width: 856px;
    height: auto;
    margin: auto;

}

.main_text_title {

    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
    text-align: center;

}

.text {
    text-align: left;
    color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin: 0px;

}

.color change {
    color: #04959E;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.main_list {
    width: 856px;
    padding-left: 20px;
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
}

.button {
    width: 97px;
    height: 24px;
    padding: 10px 24px;
    background-color: #04959E;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    margin: auto;

}


.footer {
    width: 856px;
    margin: auto;
}

hr {
    height: 1px;
    align-self: stretch;
    width: 100%;
    margin-top: 88px;
}

.button2 {

    color: #161616;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 16px 0px;


}